* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8ceec;
  background-image: linear-gradient(115deg, #f8ceec 0%, #a88beb 74%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
